ipython
https://storage.googleapis.com/jax-releases/cuda101/jaxlib-0.1.51-cp38-none-manylinux2010_x86_64.whl
jax
tensorflow_datasets==3.2.1
tensorflow
tqdm
--editable git+https://github.com/google-research/reverse-engineering-neural-networks.git@loss_functions#egg=renn
--extra-index-ur lhttps://artifactory2.nestlabs.com/artifactory/api/pypi/pypi-local/simple
blueshift-uv==0.3.0

