google-cloud-storage
absl-py
json_lines
ipython
https://storage.googleapis.com/jax-releases/cuda100/jaxlib-0.1.51-cp37-none-manylinux2010_x86_64.whl
jax
tensorflow_datasets==3.2.1
tensorflow==1.15
tqdm
--editable git+https://github.com/google-research/reverse-engineering-neural-networks.git@master#egg=renn
--extra-index-url https://artifactory2.nestlabs.com/artifactory/api/pypi/pypi-local/simple
blueshift-uv==0.3.0
matplotlib
seaborn
sklearn
jupyter
tensorflow_text
