google-cloud-storage
absl-py
json_lines
ipython
https://storage.googleapis.com/jax-releases/cuda100/jaxlib-0.1.51-cp37-none-manylinux2010_x86_64.whl
jax
tfds-nightly
tensorflow==2.6.4
tensorflow-text
tqdm
renn
uv-metrics
msgpack>=1.0.0
pg8000>=1.16.1
matplotlib
seaborn
sklearn
jupyter
moviepy
